service:
  name: media

plugins:
  - serverless-python-requirements
  - serverless-wsgi
custom:
  wsgi:
    app: app.app
    packRequirements: false
  pythonRequirements:
    dockerizePip: non-linux
    layer: true
    slim: true
    strip: false

package:
  exclude:
    - .vscode/**
    - venv/**
    - node_modules/**

provider:
  name: aws
  runtime: python3.7
  stage: ${opt:stage}
  region: ${opt:region, 'us-east-1'}
  memorySize: 256
  timeout: 30
  environment:
    ${file(./config.${opt:stage}.json)}
  vpc:
    securityGroupIds: ${file(./config.${opt:stage}.json):securityGroupIds}
    subnetIds: ${file(./config.${opt:stage}.json):subnetIds}


functions:
  app:
    handler: wsgi_handler.handler
    layers:
      - {Ref: PythonRequirementsLambdaLayer}
    events:
      - http:
          path: /{proxy+}
          method: ANY
          cors: true

